.app{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFDEAD
}

.app h1{
  color: Green;
}

.app .app-form{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app input{
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
  border: 2px solid black;
}

.app button{
  border-radius: 50%;
  font-size: 18px;
  padding: 13px 10px;
  border: none;
  outline: none;
  background: green;
  color: white;
  cursor: pointer;
}

.app .todos{
  min-width: 26%;
  height: 80vh;
}
